/* General */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f7f9fc;
    color: #333;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2a3d66;
    color: white;
    padding: 30px 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
}

header img {
    border-radius: 50%;
    margin-right: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 100px; /* Ajusta el tamaño de la imagen */
    height: 100px; /* Ajusta el tamaño de la imagen */
}

header h1 {
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

header p {
    margin: 5px 0;
    font-size: 1rem;
    text-align: center;
}
/* Tema claro */
body.light-theme {
    background-color: #f4f4f9;
    color: #333;
}

header.light-theme {
    background-color: #0077B6;
    color: white;
}

nav.light-theme {
    background-color: #0077B6;
}

section.light-theme {
    background-color: #ffffff;
}

/* Tema oscuro */
body.dark-theme {
    background-color: #333;
    color: #f4f4f9;
}

header.dark-theme {
    background-color: #023E8A;
    color: white;
}

nav.dark-theme {
    background-color: #023E8A;
}

section.dark-theme {
    background-color: #1a1a1a;
    color: #f4f4f9;
}

/* Botón de cambio de tema */
.theme-toggle {
    background-color: #0077B6;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
    position: fixed;
    top: 10px;
    right: 10px;
}

.theme-toggle:hover {
    background-color: #FFD700;
}

/* Estilo para la barra de navegación */
nav {
     background-color: #0077B6; /* Azul brillante */
    padding: 10px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    position: fixed; /* Fija la barra en la parte superior */
    top: 0;
    left: 0;
    width: 100%; /* Abarca todo el ancho de la página */
    transition: top 0.3s ease; /* Transición suave */
}

/* Estilo para los enlaces en la barra de navegación */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white; /* Enlaces en blanco */
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 5px 10px;
}

nav ul li a:hover {
    color: #FFD700; /* Amarillo suave cuando se pasa el mouse */
    text-decoration: underline;
}

/* Sections */
section {
    padding: 50px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

section h2 {
    font-size: 2rem;
    color: #2a3d66;
    margin-bottom: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

article p {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.8;
}

/* Timeline */
.timeline {
    margin-top: 20px;
}

.timeline-item {
    background-color: #fff;
    padding: 20px;
    margin: 15px 0;
    border-left: 5px solid #3498db;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.timeline-item h3 {
    color: #333;
    font-weight: 600;
}

.timeline-item ul {
    padding-left: 20px;
}

.timeline-item li {
    font-size: 1rem;
    margin-bottom: 10px;
}

/* Skills */
.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skill {
    width: 48%;
    margin-bottom: 30px;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.progress-bar {
    background: #e0e0e0; /* Fondo gris claro para la barra */
    border-radius: 5px;
    overflow: hidden;
    width: 100%; /* Asegúrate de que la barra ocupe todo el ancho disponible */
    height: 20px; /* Ajusta la altura según lo necesites */
    margin-top: 5px;
}

.progress-bar span {
    display: block;
    height: 100%; /* La altura de la barra permanece igual */
    background: linear-gradient(to right, #48CAE4, #0077B6); /* El degradé que quieres */
    transition: width 1s ease-in-out;
    width: 0%; /* Esto se ajusta dinámicamente a través de la propiedad "style" */
}


/* Sección de Educación con fondo */
#education {
    background-color: #f4f6f9; /* Fondo más suave */
    padding: 40px 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#education ul li {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

/* Footer */
footer {
    background-color: #2a3d66;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos Móviles */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    header img {
        margin-bottom: 15px;
        width: 80px; /* Tamaño reducido de la imagen en móvil */
        height: 80px; /* Tamaño reducido de la imagen en móvil */
    }

    header h1 {
        font-size: 1.8rem;
    }

    section h2 {
        font-size: 1.5rem;
    }

    .skills {
        flex-direction: column;
        align-items: center;
    }

    .skill {
        width: 90%;
        margin-bottom: 20px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    /* Ajustes para las secciones */
    #about, #experience, #education {
        background-color: #ffffff; /* Fondo claro */
    }

    #about p, #experience p, #education p {
        color: #333; /* Texto más oscuro */
    }
}
